$primary-background: #30475e;
$main-color: #f2a365;
$button-color: #ebf5fc;
$dark-color: #222831;
$icon-color: #FFFDF9;
$faded-color: #bdcada;
$shiny-border: #ee8736;
$shadow: rgba(255, 255, 255, 0.3);
$confirmation: lighten(#ff0000e3, 20%);
$header-font: 'Sriracha', cursive;
$text-font: 'Rubik', sans-serif;
$fun-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
$approved: #5ad81cb3;

@mixin flexed($direction, $justified) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justified;
  align-items: center;
}